@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Create your own map
$darkslategray: rgba(69, 70, 70, 0.99);

$custom-colors: (
    "darkslategray": $darkslategray,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Navbar
$navbar-toggler-focus-width: 0;
$navbar-dark-toggler-border-color: none;
$navbar-dark-color: white;
$navbar-dark-active-color: $success;
$navbar-dark-hover-color: $success;
$navbar-dark-icon-color: blue;

// Links
$link-decoration: none;

// Form
$input-border-radius: 0;
$input-focus-box-shadow: none;
$input-focus-border-color: $darkslategray;

// Button
$btn-border-radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
